<div class="container">
    <h1>Create Patient Record</h1>
    <form [formGroup]="addForm" (ngSubmit)="onAddPatient(addForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input ngModel type="text" formControlName="name" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" required="true" class="form-control" placeholder="Enter Name of the patient">
            <div class="aler" [hidden]="!addForm.controls['name'].invalid" *ngIf="addForm.controls['name'].touched">
                <div *ngIf="addForm.controls['name'].invalid"><br>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                            Must only contain Alphabets And Space
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="prescription">Prescription</label>
            <input ngModel formControlName="prescription" class="form-control" placeholder="Enter Prescription of the patient" type="text">
            <div class="aler" [hidden]="!addForm.controls['prescription'].invalid" *ngIf="addForm.controls['prescription'].touched">
                <div *ngIf="addForm.controls['prescription'].invalid"><br>
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                            Prescription Required
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="dateOfVisited">Date of Visit</label>
            <input ngModel type="Date" formControlName="dateOfVisited" name="dateOfVisited" class="form-control" id="dateOfVisited" placeholder="Date">
        </div>
        <div class="form-group">
            <label for="phone">Doctor</label>
            <select class="form-select form-select-lg mb-2" ngModel formControlName="visitedDoctor" name="visitedDoctor" id="visitedDoctor" onselect="onSelect(doctor)">
                <option selected disabled>Select Any </option>
                <option *ngFor="let doctor of doctors"  [ngValue]="doctor" ngModel >{{doctor.name}}</option>
        </select>
        </div>
        <button [disabled]="(addForm.controls['name'].invalid || addForm.controls['prescription'].invalid || addForm.controls['visitedDoctor'].invalid)" id="add-doctor-form" type="submit" class="btn btn-primary">Save</button>

    </form>
</div>